@page
@model Kiki.WebApp.Pages.DiscountRules.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>DiscountRule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DiscountRule.FromPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiscountRule.FromPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DiscountRule.ToPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiscountRule.ToPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DiscountRule.Size)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiscountRule.Size)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DiscountRule.Margin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiscountRule.Margin)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.DiscountRule.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
