@page
@model Kiki.WebApp.Pages.Products.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Product[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product[0].BasePrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product[0].FinalPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product[0].Size)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product[0].Reference)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product[0].Info1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product[0].Info2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product[0].Info3)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Catalog)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Product) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BasePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reference)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Info1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Info2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Info3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Catalog.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
